body{
	margin: 0px;
}

.pagecontain {
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	height:50%;
	width:100%;
}

.halfleft {
	height:400%;
	width:100%;
	background-color:pink;
	z-index: 10;
}

.bottomrightquarter {
	height:100%;
	width:100%;
	background-color:Lightblue;
	z-index: 10;
}

.container-vertical {
	display:flex;
	flex-direction:column;
	height: 200%;
	width: 50%;
	background-color: #B067CE;

}


.container-horizontal {
	display:flex;
	flex-direction:row;
	height: 50%;
	width: 50%;
	background-color: transparent;
}

.containerinside {
	height:50%;
	width:100%;
	z-index: 10;
}

.containerleft {
	height:50%;
	width: 50%;
	background-color: salmon;
	z-index: 10;
}

.containerleftbottom {
	display:flex;
	flex-direction:column;
	height:50%;
	width: 50%;
	background-color: lavender;
	z-index: 10;
}

.below {
	height: 100%;
	width: 100%;
}

.texttitle {
	font-family: cooperhewitt-heavy;
	font-size: 37pt;
	color:salmon;
	position: absolute;
	z-index: 9;
	margin-left:10px; 
	margin-top:10%;
	display: none;
}

.square1{
	width: 50px;
	height: 50px;
	background-color:salmon;
	position: absolute;
	margin-top: -52.5%;
}

@font-face {
    font-family: myFirstFont;
    src: url(CooperHewitt-Heavy.otf),(CooperHewitt-Medium.otf);
    font-weight: bold;
}

.square2{
	width: 50px;
	height: 50px;
	background-color: Lightblue;
	position: absolute;
	margin-top: -52.5%;
	margin-left: 96.5%;
	z-index: 10;
}

.location{
	font-family: cooperhewitt-medium;
	font-size: 20pt;
	color:Lightblue;
	position: absolute;
	z-index: 10;
	margin-left:50.9%; 
	margin-top:13.5%;
	display: none;
}

.square3{
	width: 50px;
	height: 50px;
	background-color:#B067CE;
	position: absolute;
	margin-top: -3.5%;
}

.and{
	font-family: cooperhewitt-heavy;
	font-size: 37pt;
	color:salmon;
	position: absolute;
	z-index: 9;
	margin-left:15px; 
	margin-top:13%;
	display: none;
	
}

.words {
	font-family: cooperhewitt-medium;
	font-size: 20pt;
	color:#B067CE;
	position: absolute;
	z-index: 9;
	margin-left:15px; 
	margin-top:23%;
	display: none;
	overflow: scroll;
	height: 35%;
	width: 48%;
	
}

.square4{
	

	width: 50px;
	height: 50px;
	background-color: Lightpink;
	position: absolute;
	margin-left: 96.5%;
	margin-top: -3.5%;
	z-index: 9;
}

.sqcontain {
	width:100%;
	height: 100%;
}

.datetime {
	color: Lightpink;
	position: absolute;
	font-family: cooperhewitt-medium;
	font-size: 20pt;
	margin-left:50.9%; 
	margin-top:39.5%;
	display: none;

}

.scroll{
	margin-top: 30px;
}










