body{
	margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  background-color: black;
}
.container {
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:center;
	z-index: 10;
}

.box{
	background-color: white;
	width: 70px;
	height: 70px;
  margin: 2px;
	z-index: 10; 
}

.box:hover{
  background-color: transparent;
  width: 70px;
  height: 70px;
  margin: 2px;
  z-index: 10; 
}

.content {
  color: white;
  z-index: 9;
  position: absolute;
  font-size: 15px;
  font-family: 'Oswald', sans-serif;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 30px;
}

span#psych {
  border-radius: 50%;
  -webkit-transition: -webkit-transform .8s ease-in-out;
  transition: transform .8s ease-in-out;
  color: black;
  z-index: 9;
  position: absolute;
  font-size: 20px;
}
span#psych:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.p1{
  font-size: 80px;

}

.p2{
  font-size:25px;
  font-style: italic;
  text-align: left;
  margin-left: 50%;
  text-align: justify;
  margin-bottom: 20px;
}

.p3 {
    margin-bottom: 50px;
    font-size: 25px;
    font-style: italic;
    text-align: left;
    margin-left: 50%;
    text-align: justify;
}

.p4{
  margin-bottom: 50px;
  font-size:15px;
  line-height: 120%;
  width: 50%;
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;

  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
  overflow:hidden;
  transition: all .2s ease-in-out;
  
}

.p5{
  margin-bottom: 50px;
  font-size:15px;
  line-height: 120%;
  width: 50%;
  margin-left: 50%;
   -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;

  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
  overflow:hidden;
  transition: all .2s ease-in-out;
}

.p6{
  margin-bottom: 50px;
  font-size:15px;
  line-height: 120%;
  width: 50%;
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;

  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
  overflow:hidden;
  transition: all .2s ease-in-out;
}
.p7{
  margin-bottom: 40px;
  font-size:15px;
  line-height: 120%;
  width: 50%;
  margin-left: 50%;
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;

  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
  overflow:hidden;
  transition: all .2s ease-in-out;
}

.p4:hover{

  -webkit-transform:rotate(360deg);
  -moz-transform:rotate(360deg);
  -o-transform:rotate(360deg);
  transform: scale(2); 

}

.p5:hover{

  -webkit-transform:rotate(360deg);
  -moz-transform:rotate(360deg);
  -o-transform:rotate(360deg);
  transform: scale(2); 

}

.p6:hover{

  -webkit-transform:rotate(360deg);
  -moz-transform:rotate(360deg);
  -o-transform:rotate(360deg);
  transform: scale(2); 

}

.p7:hover{

  -webkit-transform:rotate(360deg);
  -moz-transform:rotate(360deg);
  -o-transform:rotate(360deg);
  transform: scale(2); 

}