body{
	background-color:#272727;
	font-family:'oswald-regular', serif;
	margin: 0;
	line-height: 1.5;
	/*background-image: url("grid grey.jpg");*/

}

/*
.username-form {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -160px;
  margin-top: -60px;
  width: 250px;
  height: 45px;
  border-radius: 10px;
  padding: 20px;
  background: white;
  box-shadow: 0 0 20px rgba(0,0,0,.125);
  opacity: 1;
  transition: opacity .2s;
  z-index: 10;
}*/

/*.is-hidden { opacity: 0 !important; }*/

.cento{
	color: white;
	font-size: 35px;
	position: fixed;
	margin-left: 3%;
	margin-top: 2%;
	z-index: 10;
}

.cento2{
	color: LightPink;
	font-size: 35px;
	position: fixed;
	margin-left: 3.3%;
	margin-top: 2.2%;
	z-index: 9;
}

.messages {
	width: 90%;
	height: 200%;
	margin-left: 23%;
	margin-top: 8%;
	background-color: transparent;
	position: absolute;
	font-family: 'oswald-light';
}

#circle{
   width: 280px;
   height:280px; 
   border-radius: 140px;
   border: white 3px solid;
	margin-top: 2%;
	margin-left: 78%;
	z-index: 10;
	position: fixed;
	background-color:LightPink;

}

#triangle{
width: 0;
height: 0;
border-style: solid;
border-width: 0 100px 200px 100px;
border: solid white;
background-color: LightPink;


}

/*#square{
   width: 280px;
   height: 280px; 
   border: white 1px solid;
	margin-top: 35%;
	margin-left: 2%;
	z-index: 9;
	position: fixed;
	background-color:LightPink;

}*/

#circle:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: pink;
   /**/
}

#square:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: pink;
}

/*.circleshadow{
   width: 70px;
   height: 70px; 
   border-radius: 35px;
	background-color: white;
	margin-top: 45.3%;
	margin-left:90.3%;
	z-index: 9;
	position: fixed;

}*/




/*.circlesmall{
   width: 30px;
   height: 30px; 
   border-radius: 15px;
	background-color: LightBlue;
	margin-top: 3.5%;
	margin-left: 4%;
	z-index: 10;
	position: fixed;
	
}*/

.circlesmallone{
   width: 30px;
   height: 30px; 
   border-radius: 15px;
	background-color: LightBlue;
	margin-top: 13.5%;
	margin-left: 3.9%;
	z-index: 10;
	position: fixed;


}

.circlesmalltwo{
   width: 30px;
   height: 30px; 
   border-radius: 15px;
	background-color: LightBlue;
	margin-top: 23.5%;
	margin-left: 3.9%;
	z-index: 10;
	position: fixed;


}

.circlesmallthree{
   width: 30px;
   height: 30px; 
   border-radius: 15px;
background-color: LightBlue;
	margin-top: 33.5%;
	margin-left: 3.9%;
	z-index: 10;
	position: fixed;


}
.circlesmallfour{
   width: 30px;
   height: 30px; 
   border-radius: 15px;
	background-color: LightBlue;
	margin-top: 43.5%;
	margin-left:3.9%;
	z-index: 10;
	position: fixed;
	

}


.linetwo {
	width: 100%;
	height:75px;
	background-color: black;
	position: fixed;
	z-index: 8;
	position: fixed;
	border-bottom: solid white;
	opacity: .5;
}


.one{
	color: #006ef4;
	font-size: 35pt;
	display:none;

}

.two{
	color: #ce6ef4;
	font-size: 35pt;
	display: none;
}

.three{
	color: #5fd65e;
	font-size: 35pt;
	display:none;
}

.four{
	color: #5fd65e;
	font-size: 35pt;
	display:none;
}

.five{
	color: #5fd65e;
	font-size: 35pt;
	display:none;
}

.six{
	color: #5fd65e;
	font-size: 35pt;
	display:none;
}

.seven{
	color: #5fd65e;
	font-size: 35pt;
	display:none;
}

.eight{
	color: #5fd65e;
	font-size: 35pt;
	display:none;
}

.nine{
	font-size: 35pt;
	display:none;
}


.ten{
	font-size: 35pt;
	display:none;
}


.eleven{
	font-size: 35pt;
	display:none;
}


.twelve{
	font-size: 35pt;
	display:none;
}

#circle:hover {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

 /* (Optional) Apply a "closed-hand" cursor during drag operation. */
#circle:active { 
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

#square:hover {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

 /* (Optional) Apply a "closed-hand" cursor during drag operation. */
#square:active { 
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}


#bar{
    position:absolute;
	width:2%;
    height:80%;
    margin-top: 8%;
    background-color:LightPink;
    border-top:solid white 3px;
	border-right:solid white 3px;
	border-bottom:solid white 3px;
	transition: width 1s;
}


#bar:hover{
	width: 20%;
	transition: width 1s;
}


