body {
	background-color:black;
	color:white;
	font-family: 
}

.box1 {
	width:315px;
	height:315px;
	border:2px solid black;
	padding:50px;
	font-size:10px;
	margin-bottom: 10px;
	margin-left: 50px;
	animation-name: bounce;
	animation-duration:5s;
	animation-iteration-count: infinite;
	font-size: 10px;
	display:inline-block;

}

.box2 {
	width:315px;
	height:315px;
	border:2px solid black;
	padding:50px;
	font-size:10px;
	margin-bottom: 10px;
	margin-left: 50px;
	animation-name: bounce2;
	animation-duration:5s;
	animation-iteration-count: infinite;
	font-size: 10px;
	display:inline-block;

}

.box3 {
	width:315px;
	height:315px;
	border:2px solid black;
	padding:50px;
	font-size:15px;
	margin-bottom: 10px;
	margin-left: 50px;
	animation-name: bounce3;
	animation-duration:5s;
	animation-iteration-count: infinite;
	font-size: 10px;
	display:inline-block;

}

.box4 {
	width:315px;
	height:315px;
	border:2px solid black;
	padding:50px;
	font-size:10px;
	margin-bottom: 10px;
	margin-left: 30px;
	animation-name: bounce4;
	animation-duration:5s;
	animation-iteration-count: infinite;
	display:inline-block;

}

.box5 {
	width:315px;
	height:315px;
	border:2px solid black;
	padding:50px;
	font-size:15px;
	margin-bottom: 10px;
	margin-left: 50px;
	animation-name: bounce5;
	animation-duration:5s;
	animation-iteration-count: infinite;
	font-size: 10px;
	display:inline-block;

}

.box6 {
	width:315px;
	height:315px;
	border:2px solid black;
	padding:50px;
	font-size:15px;
	margin-bottom: 10px;
	margin-left: 50px;
	animation-name: bounce6;
	animation-duration:5s;
	animation-iteration-count: infinite;
	font-size: 10px;
	display:inline-block;

}


@keyframes bounce {
	10% {width:320px;}

	30% {width:330px;}

	50% {width:340px;}

	60% {width:350px;}

	70% {width:360px;}

}

@keyframes bounce2 {
	10% {width:315px;}

	30% {width:305px;}

	50% {width:295px;}

	60% {width:285px;}

	70% {width:275px;}

}

@keyframes bounce3 {
	10% {width:320px;}

	30% {width:330px;}

	50% {width:340px;}

	60% {width:350px;}

	70% {width:360px;}

}

@keyframes bounce4 {
	10% {width:300px;}

	30% {width:280px;}

	50% {width:260px;}

	60% {width:240px;}

	70% {width:230px;}

}

@keyframes bounce5 {
	10% {width:320px;}

	30% {width:350px;}

	50% {width:380px;}

	60% {width:400px;}

	70% {width:450px;}

}


